<div class="col-md-12">
  <h1><%= @track.name %> by
      <%= link_to @track.band.name, band_url(@track.band) %></h1>

  <p>On album <em>
     <%= link_to @track.album.name, album_url(@track.album) %></em>
    <% if @track.bonus? %> (bonus track)<% end %>
  </p>

  <% unless @track.lyrics.blank? %>
    <h2>Lyrics</h2>
    <%= simple_format(@track.lyrics) %>
  <% end %>

  <%= link_to 'Edit Track', edit_track_url(@track),
      class: 'btn btn-info' %>
  <%= button_to 'Delete Track', track_url(@track),
      method: :delete, class: 'btn btn-danger' %>
</div>
