<div class="col-md-12">
  <h1><%= @band.name %></h1>

  <h2>Albums</h2>
  <ul class="list-group">
    <% @albums.each do |album| %>
      <li class="list-group-item">
        <%= link_to album.name, album_url(album) %>
      </li>
    <% end %>
  </ul>

  <h2>Tracks</h2>
  <ul class="list-group">
    <% @tracks.each do |track| %>
      <li class="list-group-item">
        <%= link_to track.name, track_url(track) %>
      </li>
    <% end %>
  </ul>

  <% if user_is_admin? %>
    <%= link_to 'Edit Band', edit_band_url(@band), class: 'btn btn-info' %>
    <%= button_to 'Delete Band', band_url(@band),
        method: :delete, class: 'btn btn-danger' %>
    <%= link_to 'Add Album', new_band_album_url(@band), class: 'btn btn-success' %>
  <% end %>
</div>
