<!DOCTYPE html>
<html>
  <head>
    <title>Music App</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
<body>

  <div class="container content-main">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <%= link_to 'Music App', '/', class: 'navbar-brand' %>
      </div>
      <div class="navbar-right user-controls">
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="row">
        <div class="alert alert-info col-md-12">
          <%= notice %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <%= yield %>
    </div>
  </div>

  </body>
</html>
